
---
import Layout from "../layouts/Layout.astro";
import Solver from "../components/Solver.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <Solver formulaName="rectangleArea"/>
        <Solver formulaName="centerOfGravity"/>
    </main>
</Layout>

<style>

    main {
        background-color: lightgreen;
        margin: auto;
        padding: 1rem;
        max-width: 60ch;
    }

</style>
