
---
import Layout from "../layouts/Layout.astro";
import Solver from "../components/Solver.astro";
---

<Layout title="Engineer Calculator">
    <main>
        <Solver formulaName="viscosity"/>
        <Solver formulaName="isentropicPressure"/>
        <Solver formulaName="isentropicTemperature"/>
    </main>
</Layout>

<style>

    main {
        background-color: lightgreen;
        margin: auto;
        padding: 1rem;
        max-width: 60ch;
    }

</style>
