---
export interface Props {}
---

<nav>
    <ul>
        <li>
            <a href="/">Engineer calculator</a>
        </li>
        <li>
    <a href="/areasGeometry"><span class="title">Areas geometry</span></a>
        </li>
        <li>
            <a href="/fluids">Fluyds</a>
        </li>
    </ul>
</nav>
<style lang="scss">
    nav {
        &,a{
        color: black;
        }
        padding: 12px;
        background-color: violet;
        justify-content: center; //navbar al centro
        font-size: 1.2em;
        &,
        ul {
            display: flex;
            flex-direction: row;
            gap: 12px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
</style>
