---
import { FormulaName, formulas } from "../formulas";

export interface Props {
    formulaName: FormulaName;
}
const { formulaName } = Astro.props;
const formula = formulas[formulaName];
---

<app-solver data-formulaname={formulaName}>
    <!-- web component -->
    <div class="formula-box">
        <h2>{formula.title}</h2>
        <p>{formula.description}</p>
        <div>
            {
                Object.entries(formula.inputValues).map(([k, v]) => (
                    <>
                        <p>
                            <span>
                                {k} ({v.unit})
                            </span>
                            <input class={`solverinput-${k}`} type="text" />
                        </p>
                    </>
                ))
            }
        </div>
        <button class="solveBtn">Sumbit</button>
        <pre class="solverResults"></pre>
    </div></app-solver
>
<style>
    .formula-box {
        background-color: lightgreen;
        border-radius: 0.6rem;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    .formula-box:is(:hover, :focus-within) {
        background-position: 0;
        background-color: violet;
    }
</style>
<script>
    import { FormulaName, formulas } from "../formulas";
    import type { Formula } from "../types/formula";

    class AppSolver extends HTMLElement {
        private readonly solveBtn: HTMLButtonElement; //membri della classe
        private readonly solverResults: HTMLElement;
        private readonly formula: Formula;

        constructor() {
            super();

            this.solveBtn = this.getElementsByClassName(
                "solveBtn"
            )[0] as HTMLButtonElement;
            this.solverResults = this.getElementsByClassName(
                "solverResults"
            )[0] as HTMLElement;
            this.formula = formulas[
                this.dataset.formulaname as FormulaName
            ] as Formula;

            this.solveBtn.addEventListener("click", () => {
                const inputs = Object.fromEntries(
                    Object.keys(this.formula.inputValues).map((k) => {
                        const inputCont = (
                            this.getElementsByClassName(
                                `solverinput-${k}`
                            )[0] as HTMLInputElement
                        ).value;
                        if (inputCont.trim() === "") {
                            return [k, undefined];
                        }
                        if (inputCont.includes(",")) {
                            return [
                                k,
                                inputCont
                                    .split(",")
                                    .map((i) => parseFloat(i.trim())),
                            ];
                        }
                        return [k, parseFloat(inputCont)];
                    })
                );

                const res = this.formula.func(inputs);
                this.solverResults.innerText = Object.entries(res)
                    .map(([k, v]) => `${k}=${v.value} ${v.unit}`)
                    .join(";\n");
            });
        }
    }
    customElements.define("app-solver", AppSolver);
</script>
